// COLOR VARIABLES
$color-grey-light: #f4f2f2;
$color-grey-light-1: #f0eeee;
$color-grey-light-2: #ccc;

$color-grey-dark: #333;
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;

$color-white: #fff;
$color-black: #000;

// FONT VARIABLES
$font-primary: 'Rubik', sans-serif;
$font-display: 'Open Sans', sans-serif;
$default-font-size: 1.6rem;
